<% if session[:user_id] == nil %>

<div class="jumbotron">
  <h1 class="display-3">Welcome to Flake!</h1>
  <p class="lead">The app for flakes, by flakes.</p>
  <hr class="my-4">
</div>

<% else %>
<div class="jumbotron">
  <h1 class="display-3"><%= @current_user.first_name %>, Welcome to Flake!</h1>
  <p class="lead">The app for flakes, by flakes.</p>
  <hr class="my-4">
</div>

  
<% end %>
