<% if session[:user_id] == nil %>
  <h1> Welcome to Flake! </h1>
  <h2> The app for flakes, by flakes... </h2>
  <img src = "https://loading.io/s/icon/cbm66s.svg" width = "500" length = "500">
<% else %>
  <h1> <%= @current_user.first_name %>, welcome to Flake! </h1>
  <h2> The app for flakes, by flakes... </h2>
  <img src = "https://loading.io/s/icon/cbm66s.svg" width = "500" length = "500">
<% end %>
